/* Search Bar */
.search-bar {
  display: flex;
  margin: 40px 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
}

/* Product Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table .product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

table td {
  vertical-align: middle;
}

button {
  margin-right: 5px;
}
