.main-container {
  display: flex;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px 10px;
}

.logo-container img {
  width: 50px;
  height: auto;
}

.logo-container p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: var(--primary-text);
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar ul li a .material-icons {
  margin-right: 10px;
  font-size: 20px;
}

/* Content Section */
.content {
  flex: 1;
  padding: 20px;
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left h1 {
  font-size: 20px;
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Notification Section */
.notification {
  position: relative;
  cursor: pointer;
}

.notification .material-icons {
  font-size: 24px;
  color: var(--primary-text);
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px rgb(118, 188, 238);
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.user-role {
  font-size: 14px;
  color: rgb(212, 210, 210);
}
