body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.staff-sections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.section {
  width: 30%;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: solid 1px rgb(199, 199, 199);
}

.staff-card {
  margin-bottom: 20px;
}

.staff-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

h3 {
  color: #444;
  font-size: 18px;
  margin: 5px 0;
}

p {
  color: #777;
  font-size: 14px;
}
