body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-bg);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  background-color: white;
  padding: 40px 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-text);
}

.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  width: 100%;
}

.button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text a {
  color: var(--primary-text);
  font-weight: bold;
  text-decoration: none;
}

.switch-text a:hover {
  text-decoration: underline;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo-container p {
  font-size: 25px;
  font-weight: bold;
}

.logo-container img {
  width: 50px;
  height: auto;
}
